.navbar-brand{
    font-family: 'Satisfy', cursive;
}

table{
    width: 100%;
}

th{
    text-align: center;
    height: 50px;
}

td{
    text-align: center;
}

.div-left{
    float:left;
    padding-left:10px;
}

.div-right{
    float:right;
    padding-right:10px;
}
