.navbar-brand{
    font-family: 'Satisfy', cursive;
}

table{
    width: 100%;
}

th{
    text-align: center;
    height: 50px;
}

tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

tbody:after {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

td{
    text-align: center;
}

.div-left{
    float:left;
    padding-left:10px;
}

.div-right{
    float:right;
    padding-right:10px;
}
