{% extends 'Classes/base.html' %}

{% block title %}Parinaam | Developers{% endblock %}
{% block body %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="https://scontent.fslv1-1.fna.fbcdn.net/v/t1.0-9/29512555_1700947339995987_1770283911266918283_n.jpg?_nc_cat=0&oh=a9f999cb4ed10164c3e0cbeb95dbba35&oe=5B758160" alt="scorpion_ajay">
                </div>
                <div class="col-sm-8">
                    <p class="font-weight-light responsive">>
                        <h3 style="text-align:center;" class="display-4">Ajay Verma</h3>
                        Hey there!<br>
                        This  is  Ajay verma. As you might have  noticed  i  mentioned my
                        name  two times   continuously ,  you  can  deduce  that i do not
                        have much  to  share about me. Well i have developed this website
                        so i must write some lines, so here you go :
                        Sometimes to escape this world, i watch movies and i have a knack
                        of writing, maybe someday i would become a writer ( who knows :P).
                        I also  solve  programming  problems   online  and  develop   web
                        applications which you  already know (okay then why am i telling
                        you? okay probably i should finish it here now ). Good day Ahead!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}