{% extends 'Classes/base.html' %}

{% block title %}Parinaam | Add{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <form method="post" action="">
                {% csrf_token %}
                {{ formset.management_form }}
                <table class="responsive table table-striped">
                    <thead>
                        <tr>
                            {% for field in formset.0 %}
                                {% if not forloop.last  %}
                                    <th>{{ field.label_tag }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            <tr>
                                {% for field in form %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button class="btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}