{% if classes %}
    <h2>Hello {{ user.username }}!</h2>
    <h3>Here are all the classes :)</h3>
    <ul>
        {% for class in classes %}
            <li>
                <a href="{% url 'Classes:marks' class.id %}">{{class.discipline}} - {{ class.batch }} {{class.subject}} {{class.exam_name}}</a>
                <form action="{% url 'Classes:delete-class' class.id %}">
                    <input type="submit" value="Delete">
                </form>
                <form action="{% url 'Classes:update-class' class.id %}">
                    <input type="submit" value="Update">
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3>Oops, You don't have any classes :(</h3>
{% endif %}
<a href="{% url 'Classes:add-class' %}">Add Class</a>
<a href="{% url 'Classes:add-classes' %}">Add Classes</a>
<a href="{% url 'Classes:update-classes' %}">Update All Classes</a>