{% extends 'Classes/base.html' %}

{% block body %}
{% if classes %}
    <h2>Hello {{ user.username }}!</h2>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <strong>Here are all the classes :)</strong>
            </div>
            <div class="panel-body">
                <table class="responsive">
                    <thead>
                        <tr>
                            <th>Discipline</th>
                            <th>Batch</th>
                            <th>Subject</th>
                            <th>Exam name</th>
                            <th>Access</th>
                            <th>Delete</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for class in classes %}
                            <tr>

                                <td>{{class.discipline}}</td>
                                <td>{{ class.batch }}</td>
                                <td>{{class.subject}}</td>
                                <td>{{class.exam_name}}</td>
                                <td>
                                    <form action="{% url 'Classes:marks' class.id %}">
                                        <input type="submit" value="Open">
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'Classes:delete-class' class.id %}">
                                        <input type="submit" value="Delete">
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'Classes:update-class' class.id %}">
                                        <input type="submit" value="Update">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% else %}
    <h3>Oops, You don't have any classes :(</h3>
{% endif %}
    <div class="container-fluid">
        <label>Number of classes to add : </label>
        <input type="number" id="num">
        <button onclick="myFxn()">Add classes</button><br>
        <label>Want to update classes ? Update here :</label>
        <form action="{% url 'Classes:update-classes' %}">
            <input type="submit" value="Update Classes">
        </form>
    </div>
<script>
    function myFxn(){
        var num = document.getElementById("num").value;
        window.location = "{% url 'Classes:add-classes' 12345 %}".replace(/12345/,num.toString());
    }
</script>
{% endblock %}