<a href="{% url 'Classes:index' %}">Go to classes</a><br>
{% if marks_qs %}
    <ul>
        {% for detail in marks_qs %}
            <li>
                {{detail.roll}} - {{detail.marks_obt}}
                <form action="{% url 'Classes:delete-marks' classes.id detail.id %}">
                    <input type="submit" value="Delete">
                </form>
                <form action="{% url 'Classes:update-marks' classes.id detail.id %}">
                    <input type="submit" value="Update">
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3>You have not any added marks yet :(</h3>
{% endif %}
<label>Number of students to add : </label>
<input type="number" id="num">
<button onclick="myFxn()">Add marks</button><br>
<a href="{% url 'Classes:update-all-marks' classes.id %}">Update Students</a>
<script>
    function myFxn(){
        var num = document.getElementById("num").value;
        window.location = "{% url 'Classes:add-marks' classes.id 12345 %}".replace(/12345/,num.toString());
    }
</script>