<a href="{% url 'Classes:index' %}">Go to classes</a><br>
{% if marks_qs %}
    <ul>
        {% for detail in marks_qs %}
            <li>
                {{detail.roll}} - {{detail.marks_obt}}
                <form action="{% url 'Classes:delete-marks' classes.id detail.id %}">
                    <input type="submit" value="Delete">
                </form>
                <form action="{% url 'Classes:update-marks' classes.id detail.id %}">
                    <input type="submit" value="Update">
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3>You have not any added marks yet :(</h3>
{% endif %}
<a href="{% url 'Classes:add-marks' classes.id %}">Add students</a>
<a href="{% url 'Classes:update-all-marks' classes.id %}">Update all students</a>